<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <meta charset="UTF-8">
    <title>Peer Connect Ghana</title>
</head>
<body>
    <div id=" header">
        <p>PEER CONNECT GHANA</p></div>

    <table> </table>
<div class="project-title">
	<h3>{{ page.title }}</h3>
</div>
<div class="project-links">
	<a href="{{ page.repository }}" class="project-link" target="_blank"><i class="fa fa-code-fork"></i> Repository</a>{% if page.website %} <a href="{{ page.website }}" class="project-link" target="_blank"><i class="fa fa-globe"></i> Website</a>{% endif %}
</div>
<div>
	<p>Technologies used: {{ page.technologies }} | Project lead: <a href="https://github.com/{{ page.project_lead }}"  target="_blank">{{ page.project_lead }}</a></p>
	<p>Project started on: <span class="date">{{ page.start_date | date: "%-d %B %Y" }}</span>{% if page.end_date %} | Project ended on: <span class="date">{{ page.end_date | date: "%-d %B %Y" }}</span>{% endif %}</p>
</div>
<div class="break"></div>
<div class="post">
	<p>
		{{ content }}
	</p>
</div>
</body>
</html>