body {

    fontsize:13px
    line-height: 1.6;
    background: #eeeeee;
}

h1 {
    color: blue;
}

p {
    color:green;
}

div {
    width: 2000px;
    padding: 2px;
    border: 2px solid navy;
    margin: 25px;
}
<style>
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px;
}
#section {
    width:350px;
    float:left;
    padding:10px;
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}
</style>