body {

    fontsize:13px
    line-height: 1.6;
    background: #eeeeee;
}
p {
    color:green;
}

div {
    width: 1000px;
    padding: 2px;
    border: 0px solid navy;
    margin: 25px;
}

#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}


#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}
</style>